body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.forgot-password-link {
    text-align: center; /* Center only the "Forgot Your Password?" link */
}
.forgot-password-link a {
    text-decoration: none; /* Remove the underline from the link */
    transition: font-size 0.2s ease; /* Add a smooth transition effect */
}
.forgot-password-link a:hover {
    font-size: 17px; /* Increase the font size on hover */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
